<div class="cdetail_wp" ng-show = "isloading === false">
  <div class="row user_state">
    <div>
      <div class="mt10">
        <input type="text" is-open="opened"  datepicker-popup="yyyy-MM-dd" ng-click="open($event)" datepicker-options="dateOptions"  class="form-control" ng-model="startTime" id="startTime" placeholder="起始时间" current-text="今天" clear-text="清除" close-text="关闭">
      </div>
      <div class="mt-10">
        <input type="text" is-open="endOpened" datepicker-popup="yyyy-MM-dd" ng-click="endOpen($event)" datepicker-options="endDateOptions"  class="form-control" ng-model="endTime" id="endTime" placeholder="结束时间" current-text="今天" clear-text="清除" close-text="关闭">
      </div>
      <div class="btn-group mt-10 btn-group-justified">
        <a class="btn btn-success" ng-click="func.sift()">查询</a>
        <a class="btn btn-info" ng-click="func.clear()">重置</a>
      </div> 
    </div>
  </div>
  <div class="row user_state userstate_title">
    <div class="col-xs-3" style="padding:0 5px;">下单时间</div>
    <div class="col-xs-6">订单编号</div>
    <div class="col-xs-3">状态</div>
  </div>
    <div class="row user_state" ng-repeat = "m in orderlist">
      <a class="orderinfo" ng-click="func.orderinfo(m)">
        <div class="col-xs-3">{{m.created_time | date:'yyyy/MM/dd'}}</div>
        <div class="col-xs-6">{{m.order_number}}</div>
        <div class="col-xs-3" ng-if ="m.status === '已出库'" ng-class = "{out: m.status === '已出库'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '已完成'" ng-class = "{done: m.status === '已完成'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '已关闭'" ng-class = "{closed: m.status === '已关闭'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '已退货'" ng-class = "{back: m.status === '已退货'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '待审核'" ng-class = "{examine: m.status === '待审核'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '待生产'" ng-class = "{production: m.status === '待生产'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '波次中'" ng-class = "{boci: m.status === '波次中'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '待分拣'" ng-class = "{sort: m.status === '待分拣'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '已复核'" ng-class = "{review: m.status === '已复核'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '已分拨'" ng-class = "{allot: m.status === '已分拨'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '已签收'" ng-class = "{sign: m.status === '已签收'}"><span>{{m.status}}</span></div>
        <div class="col-xs-3" ng-if ="m.status === '待收货'" ng-class = "{willreceived: m.status === '待收货'}"><span>{{m.status}}</span></div>
      </a>
    </div>
    <div ng-show="pagination.isProcessing">
      <div class="loading_spinner">
        <div class="loading_bounce1"></div>
        <div class="loading_bounce2"></div>
        <div class="loading_bounce3"></div>
      </div>
    </div>
    <div class="row block pt-10 pb-10" ng-show="!pagination.isDone">
      <h4 class="text-center" ng-click="pagination.nextPage()">点击加载更多...</h4>
    </div>
    <div class="row block pt-10 pb-10" ng-show="pagination.isDone">
      <h4 class="text-center">{{pagination.more}}</h4>
    </div>
</div>

